@font-face {
  font-family:'myFont';
  src:url(../fonts/palitoon.otf);
  font-weight:400;
  font-style:normal;
}

body {
	background: #eee;
	font-family:'myFont';
	font-size: 14px;
	user-select : none;
}

/** game_content **/

.game_content
{
	z-index: 200;
	position: relative;
	width: 100vw;
	height: 100vh;
}

/** stats_content **/

.stats
{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 100;
}

.stats_content
{
	position: relative;
}

.stats_content .chicken_picture
{
	width: 90px;
	height: 90px;
	border-radius: 80px;
	background-color: black;
}

.stats_content .chicken_name
{
	position: absolute;
	top: 20px;
	left: 110px;
}

.stats_content .chicken_lvl
{
	position: absolute;
	top: 45px;
	left: 110px;
	width: 400px;
}

.stats_content .chicken_lvl .chicken_lvl_content
{
	position: relative;
	width: 100%;
	height: 100%;
}

.stats_content .chicken_lvl .chicken_lvl_content .current_lvl
{
	position: absolute;
	top: 50%;
	left: 150px;
	transform: translateY(-50%);
}

.stats_content .chicken_lvl .chicken_lvl_content .lvl_bar
{
	position: absolute;
	top: 50%;
	left: 0;
	width: 140px;
	height: 10px;
	border-radius: 80px;
	background-color: grey;
	transform: translateY(-50%);
}

.stats_content .lvl_bar_content
{
	position: relative;
}

.lvl_bar_content .bar_current_count
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	border-radius: 80px;
	background-color: cyan;
	transform-origin: 0 0;
	transform: scaleX(0);
	will-change: transform;
  will-change: background-color;
  transition: all 0.3s;
}

.stats_content .chicken_starve_bar
{
	position: absolute;
	top: 64%;
	left: 110px;
	width: 180px;
	height: 10px;
	border-radius: 80px;
	background-color: grey;
}

.stats_content .chicken_starve_bar .chicken_starve_bar_content
{
	position: relative;
}

.chicken_starve_bar_content 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	border-radius: 80px;
	background-color: lightgreen;
	transform: scaleX(1);
	transform-origin: 0 0;
	will-change:transform;
  will-change: background-color;
  transition: all 0.3s;
}

.stats_content .chicken_thirst_bar
{
	position: absolute;
	top: 84%;
	left: 110px;
	width: 180px;
	height: 10px;
	border-radius: 80px;
	background-color: grey;
}

.stats_content .chicken_thirst_bar .chicken_thirst_bar_content
{
	position: relative;
}

.chicken_thirst_bar_content .bar_current_count
{
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 10px;
	border-radius: 80px;
	background-color: green;
	transform-origin: 0 0;
	transform: scaleX(1);
	will-change:transform;
}

/** upgrades **/

.upgrades
{
	position: absolute;
	z-index: 500;
	top: 0;
	right: 0;
	height: 100%;
	width: 350px;	
	padding: 10px;
	background-color: #d35400;
	overflow: auto;
}

	/** eggs_count **/

.eggs
{
	height: 50px;
	z-index: 10;
	background-color: #e67e22;
}

.eggs_content
{
	position: relative;
	width: 100%;
	height: 100%;
}

.eggs_content .number_eggs
{
	color: #f1c40f;	
	font-size: 30px;
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.gold
{
	width: 30px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

	/** tabs **/

.tabs
{
	margin-top: 10px;
	height: 100px;
	z-index: 10;
	background-color: #e67e22;
}

.tabs_content
{
	position: relative;
	width: 100%;
	height: 100%;
}

.tabs_content ul
{
	font-size: 0;
	display: flex;
}

.tabs_content ul li
{
	background-color: #e67e22;	
	width: 110px;
	height: 100px;
	position: relative;
}

.tabs_content ul li:hover
{
	cursor: pointer;
}

.tabs_content ul li:nth-child(1)
{
	background-color: #f28d4f;
}

.tabs_content ul li:nth-child(2)
{
	border-right: 1px #fefefe solid;
	border-left: 1px #fefefe solid;
}

.improvement, .consumables, .achievement
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50px;
}

  /** consumable **/

.list_upgrades
{
	height: 590px;
	z-index: 10;
	background-color: #e67e22;
	overflow: auto;
}

.consumables_content
{
	position: relative;
	display: none;
}

.consumables_content ul, .boosts_content ul, .improvements_content ul
{
	font-size: 0;
}

.consumables_content ul li, .boosts_content ul li, .improvements_content ul li 
{
	display: inline-block;
	width: 100%;
	height: 60px;
	padding: 5px;
	background-color: #f28d4f;
	margin-bottom: 5px;
	position: relative;
	font-family:'myFont';
}

.consumables_content ul li:hover, .boosts_content ul li:hover, .improvements_content ul li:hover
{
	cursor: pointer;
}

.boosts_content
{
	position: relative;
	display: none;
}

.improvements_content
{
	position: relative;
	display: none;
}

.is-selected{
	display: block;
}

.improvements_content.is-selected ul li
{
	background-color: #f28d4f;
}

/** content_list **/

.logo_upgrade
{
	width: 49px;
	height: 49px;
	display: block;
	position: relative;
}

.seeds_icon, .redpoule_icon, .water_icon, .noodle_icon, .pizza_icon
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.water_icon
{
	width: 30px;
}

.redpoule_icon
{
	height: 50px;
}

.name_upgrade
{
	position: absolute;
	top: 25%;
	left: 59px;
	transform: translateY(-40%);
	color: #fefefe;
	font-size: 18px;
}

.price_upgrade
{
	position: absolute;
	top: 80%;
	left: 95px;
	transform: translateY(-80%);
	font-size: 18px;
	color: #f1c40f;
}

.gold_icon
{
	width: 30px;
	position: absolute;
	top: 80%;
	left: 60px;
	transform: translateY(-80%);
}

.number_upgrade
{
	position: absolute;
	top: 80%;
	right: 35px;
	transform: translateY(-80%);
	color: #fefefe;
	font-size: 18px;
}

.unit_lvl
{
	position: absolute;
	top: 80%;
	right: 10px;
	transform: translateY(-80%);
	color: #fefefe;
	font-size: 18px;
}

/** chicken_zone **/

/*.chicken_zone
{
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100vw - 350px);
	height: 100vh;
}
*/

.canvas_zone
{
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100vw - 350px);
	height: 100vh;
}

.pause_btn
{
	position: absolute;
	bottom: 20px;
	right: calc(20px + 350px);
	color: black;
	z-index: 100;
}
/** landscape **/

.landscape_sky
{
	background-color: #60C8E4;
	width: calc(100vw - 350px);
	height: 100vh;	
}

.landscape_grass img
{
	position: absolute;
	bottom: 0;
	width: calc(100vw - 350px);
	height: calc(100vh * 1/3);	
}
/**** chicken svg animation ****/

.st0{fill:#C61D1B;}
.st1{fill:#CE2A28;}
.st2{fill:#A27E13;}
.st3{fill:#F08219;}
.st4{fill:#EDB80E;}
.st5{clip-path:url(#SVGID_2_);fill:#D2A116;}
.st6{fill:#FFFBF1;}
.st7{fill:#161615;}
.st8{fill:#CC6C14;}
.st9{fill:#DA7510;}
.st10{fill:#BC6317;}
.st11{fill:#F7C32E;}
.st12{fill:#415394;}
.st13{clip-path:url(#SVGID_4_);}
.st14{clip-path:url(#SVGID_6_);fill:#FFFBF1;}
.st15{clip-path:url(#SVGID_8_);}
.st16{fill:none;stroke:#161615;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
.st17{fill:#677BB3;}
.st18{font-family:'Palitoon-Regular';}
.st19{font-size:42px;}
.st20{font-size:52px;}
.st21{clip-path:url(#SVGID_10_);}
.st22{fill:none;stroke:#161615;stroke-miterlimit:10;}
.st23{clip-path:url(#SVGID_12_);}

.chicken_character {
	top: 150px;
	left: 150px;
	position: absolute;
	cursor: pointer;
}

.chicken_character svg 
{
	height: 300px;
	width: auto;
}

/** normal chicken **/

.chicken_character .sleeping_chicken,
.chicken_character .dead_chicken,
.chicken_character .sad_chicken,
.chicken_character .happy_chicken {
	opacity: 0;
}

/* chicken legs */

.chicken_character .paw_left 
{
	transform-origin: 100% 100%;
}

.chicken_character .paw_right 
{
	transform-origin: 0% 0%;
}

.chicken_character .paw_left,
.chicken_character .paw_right 
{
	transition: transform 0.13s ease-in-out;
}

.chicken_character.active .paw_left,
.chicken_character.active .paw_left,
.chicken_character.active .paw_left,
.chicken_character.active .paw_left,
.chicken_character.active .paw_left
{
	transform: rotate(8deg) translateX(-3px);
}

.chicken_character.active .paw_right
{
	transform: rotate(-8deg) translateX(3px);
}

/* chicken eyes */

.chicken_character .st7,
.chicken_character circle.st6 
{
	transition: transform 0.13s ease-in-out;
	transform-origin: 50% 50%;
}

.chicken_character.active .st7,
.chicken_character.active circle.st6 
{
	transform: scale(1.1);
}

/* chicken wings */

.chicken_character .wing_left
{
	transform-origin: 100% 100%;
}

.chicken_character .wing_right
{
	transform-origin: 0% 100%;
}

.chicken_character .wing_left,
.chicken_character .wing_right 
{
	transition: transform 0.1s ease-in-out;
}

.chicken_character.active .wing_left
{
	transform: rotate(-2deg) translateY(-3px);
}

.chicken_character.active .wing_right
{
	transform: rotate(2deg) translateY(-3px);
}

/* chicken comb */

.chicken_character .comb 
{
	transform-origin: 50% 100%;
	transition: transform 0.1s ease-in-out;
}

.chicken_character.active .comb
{
	transform: rotate(-1deg);
}

/** sad chicken **/

.chicken_character.sad .sad_chicken,
.chicken_character.sad .normal_chicken .eyes,
.chicken_character.sad .normal_chicken .body .st4,
.chicken_character.sad .normal_chicken .body .st5,
.chicken_character.sad .normal_chicken .st11
{
	transition: all 0.6s ease-in-out;
}

.chicken_character.sad .sad_chicken {
	opacity: 1;
}

.chicken_character.sad .normal_chicken .eyes,
.chicken_character.sad .dead_chicken .eyes
{
	opacity: 0;
}

.chicken_character.sad .normal_chicken .body .st4{fill: #ebcd6b;}
.chicken_character.sad .normal_chicken .body .st5{fill: #e3bb4b;}
.chicken_character.sad .normal_chicken .st11{fill:#efd58c;}

/** dead chicken **/

.chicken_character.dead .dead_chicken,
.chicken_character.dead .normal_chicken .eyes,
.chicken_character.dead .normal_chicken .body .st4,
.chicken_character.dead .normal_chicken .body .st5,
.chicken_character.dead .normal_chicken .st11
{
	transition: all 0.6s ease-in-out;
}

.chicken_character.dead .dead_chicken 
{
	opacity: 1;
}

.chicken_character.dead .normal_chicken .eyes,
.chicken_character.dead .sad_chicken .eyes
{
	opacity: 0;
}

.chicken_character.dead .normal_chicken .body .st4{fill: #f5de92;}
.chicken_character.dead .normal_chicken .body .st5{fill: #eac661;}
.chicken_character.dead .normal_chicken .st11{fill:#f2db9c;}

/** sleeping chicken **/

.chicken_character.sleeping .normal_chicken .comb,
.chicken_character.sleeping .normal_chicken .eyes,
.chicken_character.sleeping .sleeping_chicken
{
	transition: opacity 0.6s ease-in-out;
}

.chicken_character.sleeping .normal_chicken .comb,
.chicken_character.sleeping .normal_chicken .eyes
{
	opacity: 0;
}

.chicken_character.sleeping .sleeping_chicken
{
	opacity: 1;
}

.chicken_character.sleeping .sleeping_letters g:nth-of-type(1)
{
	animation: sleeping_chicken 1.5s ease-in-out infinite;
}

.chicken_character.sleeping .sleeping_letters g:nth-of-type(2)
{
	animation: sleeping_chicken 1.5s ease-in-out infinite 0.2s;
}

@keyframes sleeping_chicken
{
	0%
	{
		opacity: 0;
	}
	
	50%
	{
		transform: translate(10px, 10px);
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
}

/** happy chicken **/

.chicken_character.happy .happy_chicken,
.chicken_character.happy .normal_chicken .eyes,
.chicken_character.happy .sad_chicken .eyes
{
	transition: all 0.6s ease-in-out;
}

.chicken_character.happy .normal_chicken .eyes,
.chicken_character.happy .sad_chicken .eyes
{
	opacity: 0;
}

.chicken_character.happy .happy_chicken
{
	opacity: 1;
}

/** Responsvie **/

@media only screen and (max-width: 39.9375em) {
	

}

/* Medium and up */
@media only screen and (min-width: 40em) {


}

/* Medium only */
@media only screen and (min-width: 40em) and (max-width: 63.9375em) {


}

@media only screen and (max-width: 64em) 
{
	.landscape_grass img
{
	position: absolute;
	bottom: 0;
	width: auto;
	height: calc(100vh * 1/3);	
}
}

/* Large and up */
@media only screen and (min-width: 64.0001em) 
{


}

