body {
	background: #eee;
	font-family: Helvetica, Arial;
	font-size: 14px;
}

/** game_content **/

.game_content
{
	position: relative;
	width: 100vw;
	height: 100vh;
}

/** stats_content **/

.stats
{
	position: absolute;
	top: 20px;
	left: 20px;
}

.stats_content
{
	position: relative;
}

.stats_content .chicken_picture
{
	width: 90px;
	height: 90px;
	border-radius: 80px;
	background-color: black;
}

.stats_content .chicken_name
{
	position: absolute;
	top: 20px;
	left: 110px;
}

.stats_content .chicken_lvl
{
	position: absolute;
	top: 45px;
	left: 110px;
	width: 400px;
}

.stats_content .chicken_lvl .chicken_lvl_content
{
	position: relative;
	width: 100%;
	height: 100%;
}

.stats_content .chicken_lvl .chicken_lvl_content .current_lvl
{
	position: absolute;
	top: 50%;
	left: 150px;
	transform: translateY(-50%);
}

.stats_content .chicken_lvl .chicken_lvl_content .lvl_bar
{
	position: absolute;
	top: 50%;
	left: 0;
	width: 140px;
	height: 10px;
	border-radius: 80px;
	background-color: grey;
	transform: translateY(-50%);
}

.stats_content .lvl_bar_content
{
	position: relative;
}

.lvl_bar_content .bar_current_count
{
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 10px;
	border-radius: 80px;
	background-color: cyan;
}

.stats_content .chicken_starve_bar
{
	position: absolute;
	top: 64%;
	left: 110px;
	width: 180px;
	height: 10px;
	border-radius: 80px;
	background-color: grey;
}

.stats_content .chicken_starve_bar .chicken_starve_bar_content
{
	position: relative;
}

.chicken_starve_bar_content 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 10px;
	border-radius: 80px;
	background-color: lightgreen;
}

.stats_content .chicken_thirst_bar
{
	position: absolute;
	top: 84%;
	left: 110px;
	width: 180px;
	height: 10px;
	border-radius: 80px;
	background-color: grey;
}

.stats_content .chicken_thirst_bar .chicken_thirst_bar_content
{
	position: relative;
}

.chicken_thirst_bar_content .bar_current_count
{
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 10px;
	border-radius: 80px;
	background-color: green;
}

/** upgrades **/

.upgrades
{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 350px;	
	padding: 10px;
	background-color: #d35400;
}

	/** eggs_count **/

.eggs
{
	height: 50px;
	z-index: 10;
	background-color: #e67e22;
}

.eggs_content
{
	position: relative;
	width: 100%;
	height: 100%;
}

.eggs_content .number_eggs
{
	color: #f1c40f;	
	font-size: 30px;
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.gold
{
	width: 30px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

	/** tabs **/

.tabs
{
	margin-top: 10px;
	height: 100px;
	z-index: 10;
	background-color: #e67e22;
}

.tabs_content
{
	position: relative;
	width: 100%;
	height: 100%;
}

.tabs_content ul
{
	font-size: 0;
}

.tabs_content ul li
{
	background-color: #e67e22;	
	width: 110px;
	height: 100px;
	display: inline-block;
	position: relative;
}

.tabs_content ul li:hover
{
	cursor: pointer;
}

.tabs_content ul li:nth-child(2)
{
	border-right: 1px #fefefe solid;
	border-left: 1px #fefefe solid;
}

.improvement, .consumables, .achievement
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50px;
}

  /** consumable **/

.list_upgrades
{
	margin-top: 10px;
	height: 588px;
	z-index: 10;
	background-color: #e67e22;
	overflow: auto;
}

.consumables_content
{
	position: relative;
	display: none;
}

.consumables_content ul, .boosts_content ul, .improvements_content ul
{
	font-size: 0;
}

.consumables_content ul li, .boosts_content ul li, .improvements_content ul li 
{
	display: inline-block;
	width: 100%;
	height: 60px;
	padding: 5px;
	background-color: #f28d4f;
	margin-bottom: 5px;
	position: relative;
}

.consumables_content ul li:hover, .boosts_content ul li:hover, .improvements_content ul li:hover
{
	cursor: pointer;
}

.boosts_content
{
	position: relative;
	display: none;
}

.improvements_content
{
	position: relative;
	display: none;
}

.is-selected{
	display: block;
}

.improvements_content.is-selected ul li
{
	background-color: #f28d4f;
}

/** content_list **/

.logo_upgrade
{
	width: 49px;
	height: 49px;
	display: block;
	position: relative;
}

.seeds_icon, .redpoule_icon
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.redpoule_icon
{
	height: 50px;
}

.name_upgrade
{
	position: absolute;
	top: 25%;
	left: 59px;
	transform: translateY(-40%);
	color: #fefefe;
	font-size: 18px;
}

.price_upgrade
{
	position: absolute;
	top: 80%;
	left: 95px;
	transform: translateY(-80%);
	font-size: 18px;
	color: #f1c40f;
}

.gold_icon
{
	width: 30px;
	position: absolute;
	top: 80%;
	left: 60px;
	transform: translateY(-80%);
}

.number_upgrade
{
	position: absolute;
	top: 80%;
	right: 35px;
	transform: translateY(-80%);
	color: #fefefe;
	font-size: 18px;
}

.unit_lvl
{
	position: absolute;
	top: 80%;
	right: 10px;
	transform: translateY(-80%);
	color: #fefefe;
	font-size: 18px;
}






